<nav class="menu">
  <div class="menu__add-remove-container">
    <div 
      class="menu__add-remove-container-inner"
      (click)="addServer()">
      <i class="fa fa-plus-circle"></i>
      <span>Add Server</span>
    </div>
    <div class="menu__add-remove-container-inner">
      <i class="fa fa-minus-circle"></i>
      <span>Destroy</span>
    </div>
  </div>
  <div class="menu__apps-container">
    <p class="menu__apps-container__title">Available Apps</p>
    <div class="menu__apps-container__content">
      <app-app-item 
        *ngFor='let app of apps'
        [app]="app"
      >
      </app-app-item>
    </div>
  </div>
</nav>
